*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace
}
#div1{
    position: absolute;
    bottom: 5px;
}
#w1{
    position: absolute;
    top: 0;
    right: 0;
    background-color: crimson;
    box-shadow: none;
}
#nav{
    background-color: rgb(23, 148, 215);
    height: 60px;
}
#c1{
    position: absolute;
    bottom: 8px;
    right: 8px;
    box-shadow: none;
}
#nav2{
    margin-left: 850px;
}
@media only screen and (max-width: 600px) {
    #nav2{
        margin-left: 50px;
    }
  }